<div class="row">
	<div class="col-md-3">
		<div class="list-group">
			<div class="list-group-item">
				@<%= @current_user.username %>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <h3 class="panel-title">Shout your thoughts</h3>
			</div>
			<div class="panel-body">
			<script type="text/template" id="new_shout_template">
				<div class="shout-feed-post list-group-item">
					<div class="row">
						<div class="col-md-6">
							@%%username%%
						</div>
						<div class="col-md-6 text-right">
							<small>%%created_at%%</small>
						</div>
					</div>
					%%message%%
				</div>
			</script>
			<%= form_for(Shout.new, :remote => true, :url => {:controller => 'shouts', :action => 'create'}) do |f| %>
				<div class="form-group">
					<%= f.text_area(:message, {class: "form-control", placeholder: "Enter message"}) %>
				</div>
				<%= f.hidden_field(:redirect_to, :value => request.original_url) %>
				<%= f.submit("Post shout", {class: "btn btn-primary"}) %>
			<% end %>
			</div>
		</div>
		<div class="shout-feed list-group">
		<% @shouts.each do |shout| %>
			<div class="shout-feed-post list-group-item">
				<div class="row">
					<div class="col-md-6">
						<% if @current_user.id != shout.user.id %>
						<%= link_to("@#{shout.user.username}", {:action => "show", :controller => "users", :username => shout.user.username}) %>
						<% else %>
						@<%= shout.user.username %>
						<% end %>
					</div>
					<div class="col-md-6 text-right">
						<small><%= shout.created_at.strftime("%Y-%m-%d %H:%I:%S") %></small>
					</div>
				</div>
				<%= shout.message %>
			</div>
		<% end %>
		</div>
	</div>
</div>